/* Estilos Gerais do Site */
body {
    background-color: #F3EAFB;
    color: #4A3E56;
    transition: 0.3s;
}

.fundo-cinza {
    background-color: #E8DAF5;
}

.banner-principal {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../imagens/banner.jpg');
    background-size: cover;
    background-position: center;
    height: 400px;
}
.card {
background-color: #FFFFFF; 
border: 1px solid #D6C2EB; 
color: #4A3E56;
}
.btn-rosa {
    background-color: #D6C2EB;
    color: #4A3E56;
    border: none;
    font-weight: bold;
}
.btn-rosa:hover {
    background-color: #C3A9E2;
    color: #FFFFFF;
}

.foto-galeria {
    width: 100% !important;
    height: 220px !important;
    object-fit: cover !important;
    border-radius: 8px;
}

#btn-topo {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    z-index: 99;
}

/* MODO ESCURO */
html body.modo-escuro;
body.modo-escuro {
    background-color: #B599CE;
    color: #FFFFFF;
}
body.modo-escuro .fundo-cinza {
    background-color: #A384C1;
}
body.modo-escuro .card {
    background-color: #A384C1;
    color: #FFFFFF;
    border: 1px solid #C9B3DF;
}
body.modo-escuro .form-control {
    background-color: #C9B3DF;
    color: #332244;
    border-color: #B599CE;
}
