/* Estilos Gerais do Site */
body {
    background-color: #F3EAFB;
    color: #4A3E56;
    transition: 0.3s;
}

.fundo-cinza {
    background-color: #E8DAF5;
}

.banner-principal {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../imagens/banner.jpg');
    background-size: cover;
    background-position: center;
    height: 400px;
}
.card {
background-color: #FFFFFF; 
border: 1px solid #D6C2EB; 
color: #4A3E56;
}
.btn-rosa {
    background-color: #D6C2EB;
    color: #4A3E56;
    border: none;
    font-weight: bold;
}
.btn-rosa:hover {
    background-color: #C3A9E2;
    color: #FFFFFF;
}

.foto-galeria {
    width: 100% !important;
    height: 220px !important;
    object-fit: cover !important;
    border-radius: 8px;
}

#btn-topo {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    z-index: 99;
}

/* MODO ESCURO */
html body.modo-escuro;
body.modo-escuro {
    background-color: #2D2235;
    color: #E6DFEC;
}
body.modo-escuro .fundo-cinza {
    background-color: #241B2B;
}
body.modo-escuro .card {
    background-color: #382A42;
    color: #E6DFEC;
    border: 1px solid #4C3959;
}
html body.modo-escuro .text-muted {
color: #B2A2C0;
}
body.modo-escuro .form-control {
    background-color: #241B2B;
    color: #E6DFEC;
    border-color: #4C3959;
}

/* Tamanho da Logo no Menu */
.navbar-brand img.logo-site,
img.logo-site {
    height: 35px;       
    width: auto;        
    max-height: 40px;   
    object-fit: contain;
    border-radius: 50%;            
}
/* Botão Voltar ao Topo */
.btn-topo {
    display: inline-block;
    padding: 8px 18px;
    background-color: #E8DAF5;         
    color: #3D2E4D;          
    text-decoration: none;  
    font-size: 0.9rem;
    font-weight: 600;
    border-radius: 20px;                
    border: 1px solid #D6C2EB;
    transition: all 0.3s ease;
}

/* Efeito ao passar o mouse */
.btn-topo:hover {
    background-color: #B599CE;          
    color: #FFFFFF;          
    transform: translateY(-3px);       
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

/* Adaptação para o Modo Escuro */
html body.modo-escuro .btn-topo {
    background-color: #382A42;
    color: #E6DFEC;
    border-color: #4C3959;
}

html body.modo-escuro .btn-topo:hover {
    background-color: #7B5B96;
    color: #FFFFFF;
}

